
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
  /* overflow-y: hidden;*/
}

nav{

    width :100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.nav-link{

    color: white !important;

}

.nav-link:hover{
    border-bottom: 1px solid deepskyblue;
}

/*---home--- */

section{
    min-height: 100vh;
    /*display: flex;*/
    justify-content: center;
    
}

#pic {
  
  width: 120%;
   height: 70%;
  border-radius: 50%;
  border: 2px #212529 solid;

}

#pic1 {
  
  width: 40%;
   height: 70%;
  border-radius: 50%;
  border: 2px #212529 solid;

}

#img {
    display: flex;
   align-items: center;
   justify-content: initial;
   margin-top: 10%;
   position: sticky;

}

#img1 {
  align-items: center;
    justify-content: center;
    display: flex;
}

 .aboutme {
  display: flex;
  align-items: center;
}

  h1.name {
    font-size: 6rem;
    color: white;
    font-family: 'Libre Baskerville', serif;
  }

  .Socialmedia a {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: x-large;
    background: white;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 2px 1px 2px #dcdde1;
    line-height: 50px;
  }

.Socialmedia a:hover i {
  transform: scale(1.4);
}
  .fa-instagram{
    color: #e84393;
  }

.fa-linkedin{

  color: #1293d2 ;
}

.fa-github{
  color:  #000000;
}
  .Socialmedia {
    display: flex;
    margin-left: 10%;
  }
/*p.designation{

  font-family: 'Libre Baskerville', serif;

}*/

@media only screen and (max-width: 600px) {
  #demo {
    font-size: 2rem !important;

  }
  p.hii {
    font-size: 3rem !important;
  }

  p.designation {
    font-size: 1rem !important;
  }

  div #mbtop {
    top: 10% !important;
    margin-left: 5% !important;
  }

 #img {
   margin-top: 0% !important;
   display: none;
}

#pic {
   width: 80%;
   height: 75%;
   margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 8%;
}

  nav {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        position: sticky !important;

  }

  span.justifytext{
    margin-top: 36% !important;

 }
 h2 #profiletag {
   margin-top: 22%;
   color: orange;text-decoration-line: underline;
 }
}

/*---about--- */

 span.justifytext{
  color: #f8f9fa;
    position: absolute;
    /* left: 115px; */
    margin-top: 14%;
 }
 






